.button {
  background-color: transparent;
  border: 2px solid #00FF00;
  color: black;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 20px;
  cursor: crosshair;
  border-radius: 25px
  
}
