<link rel="shortcut icon" type="image/png" href="thecollegedropout.ml/media/snore.png">
<link href="index.css" rel="stylesheet">

<title>kanye west</title>
<body style=background-color:powderblue;></body>
<h1>game</h1>
<h3><a href="https://thecollegedropout.ml/">Return back</a></h3>
  
  <p><a href="https://thecollegedropout.ml/emu.html">Emulator Games</a></p>
  <p><a href="https://ubg100.bitbucket.io">ubg100, it has wordle unlimited</a></p>
  <p><a href="https://playclassic.games/">old games but needs a proxy and is slow</a></p>
  <p><a href="https://now.gg/apps/roblox-corporation/5349/roblox.html">roblox but you need to use a proxy</a></p>
  <p><a href="https://www.lambdatest.com/">android emulator</a></p>
  <p><a href="https://g.eags.us/eaglercraft/">minecraft 1.5.2 with custom servers in browser</a></p>
  <p><a href="https://thecollegedropout.ml/big4028/yes.html">2048 but its much larger</a></p>
  <p><a href="https://thecollegedropout.ml/media/templerun2.html">temple run 2</a></p>
  <p><a href="https://w96.aeroisthebestproxy.cf/system/apps/jslinux/fedora33/index.html?cpu=riscv64&url=fedora33-riscv.cfg&mem=1024">fedora linux in browser</a></p>
  <p><a href="https://windows96.net/">windows 96</a></p>
  <p><a href="https://thecollegedropout.ml/emujs/index.html">emulatorjs</a></p>
