<link rel="shortcut icon" type="image/png" href="https://thecollegedropout.ml/media/snore.png">
<link href="index.css" rel="stylesheet">

<title>kanye west</title>
<body style=background-color:powderblue;></body>
<div>
<h1 style=text-align:center;>proxy</h1>
  <h2 style=text-align:center;><a href="https://thecollegedropout.ml">Back to homepage</a></h2>
</div>
  
<button class="button" onclick="window.location.href='https://blazingscience.xyz'">holy unblocker</button>
<button class="button" onclick="window.location.href='https://gayblackdudes.hi111111.repl.co/'">old holy unblocker</button>
<button class="button" onclick="window.location.href='https://seed-germination.xyz'">incognito</button>
<button class="button" onclick="window.location.href='https://a.rammerhead.site'">rammerhead</button>
<button class="button" onclick="window.location.href='https://googlemath.ga'">google math</button>
<button class="button" onclick="window.location.href='https://ripple.gq'">ripple</button>
<button class="button" onclick="window.location.href='https://tommcdonald.playboicarti6.repl.co'">ultraviolet</button>


